<nav
  class="navbar navbar-expand-md navbar-light"
  style="background-color: rgb(5, 188, 243)"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="accueil">Gestion Stagiaire</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <button class="favorite styled" type="button">
            <a class="nav-link active" routerLink="accueil">accueil </a>
          </button>
          <button class="favorite styled" type="button">
            <a class="nav-link" routerLink="liste">liste demande</a>
          </button>
          <button class="favorite styled" type="button">
            <a class="nav-link" routerLink="nouveau">nouveau demande</a>
          </button>
          <button class="h-100" type="button">
            <a class="nav-link" routerLink="specialite">spécialité</a>
          </button>
          <button class="h-100" type="button">
            <a class="nav-link" routerLink="login">connexion</a>
          </button>
      </ul>
    </div>
  </div>
  <img src="assets/img/logo.png" class="p-1" alt="image" width="480" />
</nav>
