<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">
  <h1 class="raw d-flex justify-content-center">Nos Spécialité</h1>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">Génie Civil</li>
    <li class="list-group-item list-group-item-secondary">Contabilité</li>
    <li class="list-group-item list-group-item-info">Développement web</li>
    <li class="list-group-item list-group-item-warning">Rèseaux informatique</li>
    <li class="list-group-item list-group-item-danger">Manegement</li>
    <li class="list-group-item list-group-item-primary">Architecte d'intérieur</li>
    
  </ul>
</div>
<style>
    h1{
        font-size: 40px;
        font-style: italic;   
        font-variant: small-caps;
        background: none;
        color:rgb(5, 30, 251);
    }
</style>
</body>
</html>
